/* 
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    font-family: "Roboto";
    box-sizing: border-box;
    color: #0D0B3C;
}

/* Style Start Here */
html {
    scroll-behavior: smooth;
}

.container {
    width: 1100px;
    padding: 0px 30px;
    max-width: 100%;
    margin: auto;
}

/* Hero */
#hero .container {
    display: grid;
    grid-template-columns: 60px calc(100% - 120px) 60px;
}

#hero .hero-widget .scroll-down {
    padding: 8px 0px;
    display: inline-block;
    text-align: right;
}

#hero .hero-widget .scroll-down span {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: block;
    margin-bottom: 10px;
    font-size: 8pt;
    font-weight: 600;
    letter-spacing: 3px;
}

#hero .hero-widget .social-media {
    list-style: none;
}

#hero .hero-widget .social-media img {
    width: 27px;
}

#hero .hero-widget .social-media li {
    padding: 8px 0px;
}

#hero .hero-content .hero-description {
    width: 360px;
    margin: auto;
    text-align: center;
    max-width: 100%;
}

#hero .hero-content .hero-description h1 {
    font-size: 32pt;
}

#hero .hero-content .hero-description h1 small {
    display: block;
    font-size: 45pt;
    margin-top: 9px;
}

#hero .hero-content .hero-description h3 {
    margin-top: 12px;
    font-size: 15pt;
    line-height: 1.4em;
}

#hero .hero-content .hero-description {
    margin-bottom: 50px;
    margin-top: 45px;
}

#hero .hero-content .hero-image img {
    display: block;
    margin: auto;
    width: 520px;
    max-width: 100%;
}

#hero {
    background-image: url("../img/background-hero.svg");
    background-position: center;
    margin-top: -96px;
    padding-top: 80px;
    background-size: contain;
}

#hero .hero-widget .social-media,
#hero .hero-widget .scroll-down {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#hero .hero-widget .social-media a img {
    transition: .15s;
}

#hero .hero-widget .social-media a:hover img {
    transform: scale(1.15);
}

header {
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

header nav {
    text-align: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 20px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 600;
}

header nav ul li.active a {
    color: #302B9C;
}

header .container {
    padding-top: 20px;
    padding-bottom: 20px;
}

header .nav-title img {
    width: 47px;
    margin: 7px 0px;
}

header nav .btn {
    background-color: #302b9c;
    color: white;
    font-size: 11pt;
    padding: 7px 12px;
    border-radius: 3px;
}

@media (max-width: 900px) {
    #hero .container {
        display: block;
    }

    #hero .hero-widget {
        display: none;
    }

    #hero .hero-content .hero-description h1 {
        font-size: 25pt;
    }

    #hero .hero-content .hero-description h1 small {
        font-size: 35pt;
    }

    #hero .hero-content .hero-description h3 {
        font-size: 12pt;
    }

    #hero {
        margin-top: -80px;
    }

    header .container {
        display: block;
        text-align: center;
    }

    header .container .nav-title img {
        width: 57px;
    }

    header .container nav {
        text-align: center;
        margin-top: 20px;
    }

    header .container nav ul li {
        padding: 10px 5px;
    }

    header {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
    }

    header.shadow {
        box-shadow: none;
    }
}

.content-section {
    padding: 100px 0px;
}

.content-section {
    font-size: 25pt;
}

.content-section .title {
    text-align: center;
}

.content-section .title:after {
    content: '';
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 2px;
    background-color: #302b9c;
}

#skillsets .card-row {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#skillsets .card-col {
    padding: 20px;
}

#skillsets .card {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
    padding: 20px 25px;
    min-height: 220px;
    border-radius: 8px 8px 75px 8px;
}

#skillsets .card h4 {
    font-size: 16pt;
    margin-bottom: 10px;
}

#skillsets .card p {
    line-height: 1.5em;
    color: #7C7C7D;
    font-size: 11pt;
}

#skillsets {
    background-color: #fdfdfe;
    background-image: url("../img/background-skillsets.svg");
    background-size: 900px;
    background-position: center;
}

#skillsets .card {
    background-color: white;
    background-image: url("../img/small-dot.png");
    background-repeat: no-repeat;
    background-position: -10px bottom;
}

#skillsets .card:before {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    border-radius: 8px;
    background-color: #302B9C;
    position: absolute;
    right: 0;
    top: 0;
}

#skillsets .card {
    position: relative;
}

#skillsets .card-header {
    width: 65px;
    height: 65px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 10px 21px rgba(72, 72, 72, .04);
}

#skillsets .card-header img {
    width: 100%;
    padding: 10px;
}

#skillsets .card-body {
    padding-top: 50px;
}

@media (max-width: 900px) {
    #skillsets .container .card-row {
        display: block;
    }

    #skillsets .card {
        min-height: auto;
    }

    .content-section .title {
        font-size: 19pt;
    }

    .content-section .title:after {
        width: 8px;
        height: 8px;
    }

    #skillsets .card h4 {
        font-size: 13pt;
        text-align: left;
    }

    #skillsets .card p {
        font-size: 10.5pt;
        text-align: left;
    }

    .content-section {
        padding: 70px 0px;
    }

    #skillsets {
        background-size: contain;
        background-repeat: repeat;
    }

    #skillsets .card-row {
        margin-top: 30px;
    }

}

#portfolio .portfolio-col {
    width: 420px;
    float: left;
    padding: 20px 45px;
}

#portfolio .portfolio-col img {
    max-width: 100%;
    box-shadow: 0px 25px 46px rgba(72, 72, 72, 0.05);
}

#portfolio .portfolio-col h4 {
    font-size: 14pt;
    margin-top: 50px;
}

#portfolio .portfolio-col p {
    margin-top: 10px;
    line-height: 1.5em;
    color: #7C7C7D;
    font-size: 11pt;
    text-align: justify;
}

#portfolio .portfolio-row {
    width: calc(420px * 6);
}

#portfolio .title {
    margin-bottom: 50px;
}

.clear {
    clear: both;
}

#portfolio .portfolio-col p b {
    font-weight: 500;
    color: #32315A;
}

#portfolio .portfolio-container {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#portfolio .portfolio-container::-webkit-scrollbar {
    display: none;
}

#portfolio {
    background-image: url("../img/background-portfolio.svg");
    background-size: 1000px;
    background-position: center;
}

#portfolio .portfolio-col h4 {
    text-align: left;
}

@media (max-width: 900px) {
    #portfolio .portfolio-col h4 {
        font-size: 12pt;
    }

    #portfolio .portfolio-col p {
        font-size: 10.5pt;
    }
}

#blog {
    background-color: #fdfdfe;
    background-image: url("../img/background-skillsets.svg");
    background-size: 900px;
    background-position: center;
}

#blog .blog-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#blog .blog-col img {
    max-width: 100%;
}

#blog .blog-col p {
    font-size: 11pt;
    color: #7C7C7D;
    line-height: 1.5em;
    text-align: justify;
}

#blog .blog-col {
    padding: 25px;
}

#blog .blog {
    transition: .3s;
    border-radius: 8px;
    box-shadow: 0px 25px 46px rgba(72, 72, 72, 0.05);
    background-color: white;
    background-image: url("../img/small-dot.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: -10px bottom;
}

#blog .title {
    margin-bottom: 50px;
}

#blog a:hover .blog {
    box-shadow: 0px 25px 26px rgba(72, 72, 72, 0.1);
    transform: translateY(-8px);
}

#blog .blog .blog-body {
    padding: 20px;
    min-height: 130px;
}

#blog a {
    text-decoration: none;
}

@media (max-width: 900px) {
    #blog .blog-row {
        display: block;
    }

    #blog .title {
        margin-bottom: 20px
    }

    #portfolio .title {
        margin-bottom: 20px
    }

    #blog .blog-col p {
        font-size: 10.5pt;
    }
}

#blog .blog:before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    border-radius: 9px;
    position: absolute;
    background-color: #302b9c;
}

#contact .title {
    margin-bottom: 50px;
}

#contact p {
    line-height: 1.5em;
    color: #7C7C7D;
    font-size: 12pt;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul li img {
    width: 30px;
    height: 30px;
}

#contact ul li {
    padding: 8px;
}

#contact ul {
    margin-top: 20px;
}

#contact {
    background-image: url("../img/background-portfolio.svg");
    background-size: 1000px;
    background-position: center;
    text-align: center;
}

@media (max-width: 900px) {
    #contact .title {
        margin-bottom: 25px;
    }

    #contact p {
        font-size: 10.5pt;
    }

    #contact ul li img {
        width: 22px;
        height: 22px
    }

    #contact ul {
        margin-top: 5px;
    }
}

#portfolio .scroll-portfolio {
    text-align: center;
    margin-top: 35px;
    font-size: 8pt;
    font-weight: 600;
    letter-spacing: 3px;
}

#portfolio .scroll-portfolio img {
    display: inline-block;
}